.wrapper {
	position: relative;

	display: grid;

	width: 500px;
	height: 150px;
	margin: calc(50vh - 100px) auto;
	padding: 30px;
	border: 1px solid #E5E5E5;

	border-radius: 10px;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
	grid-template-columns: 1fr 120px;
	gap: 20px;
	grid-template-areas:
		"login login"
		"password password"
		". btn";

	input {
		padding: 10px 20px;

		color: #756F86;
		border: 1px solid #E5E5E5;
		border-radius: 5px;
		outline: none;
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);

		font-family: "Roboto", sans-serif;
		font-size: 16px;

		&::placeholder {
			color: #E5E5E5;
		}
	}

	.login {
		position: relative;

		display: grid;
		align-items: center;
		grid-area: login;
		grid-template-columns: 80px 1fr;

		label {
			color: #756f86;

			font-weight: 700;
		}

		.errLogin {
			position: absolute;
			top: -18px;
			left: 82px;

			color: #DA5D5D;

			font-size: 13px;
		}
	}

	.password {
		position: relative;

		display: grid;
		align-items: center;
		grid-area: password;
		grid-template-columns: 80px 1fr;

		label {
			color: #756F86;

			font-weight: 700;
		}

		.errPassword {
			position: absolute;
			top: -18px;
			left: 82px;

			color: #DA5D5D;

			font-size: 13px;
		}
	}

	.errAuth {
		position: absolute;
		bottom: 60px;
		left: 110px;

		color: #DA5D5D;

		font-size: 13px;
	}

	.btn {
		display: inline-block;

		box-sizing: border-box;
		width: 120px;
		height: 35px;

		cursor: pointer;

		color: #C7C5C5;
		border: 0;
		border-radius: 5px;
		background: #E5E5E5;
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);

		font-size: 16px;
		font-weight: 700;
		grid-area: btn;

		&Active {
			transition: all cubic-bezier(1,0,0,1) .3s;

			color: white;
			background: #756f86;

			&:hover {
				color: white;
				background: #81798f;
			}
		}
	}
}
