.btn {
	display: inline-block;

	box-sizing: border-box;
	padding: 7px 20px;

	cursor: pointer;
	transition: all cubic-bezier(1, 0, 0, 1) 0.3s;

	color: white;
	border: 0;
	border-radius: 5px;
	background-color: #756F86;

	&:hover {
		background-color: #81798F;
	}
}
