.block {
	display: grid;

	cursor: pointer;
	transition: all cubic-bezier(1, 0, 0, 1) 0.3s;

	border: 1px solid #C7C5C5;
	border-top: 0;
	grid-template-columns: repeat(4, 1fr);

	&:hover {
		color: #8169B4;
	}

	span {
		padding: 10px;

		border-right: 1px solid #C7C5C5;

		&:last-child {
			border-right: 0;
		}
	}
}
