.main {
	display: grid;
	grid-template-columns: 1fr auto;
	justify-items: center;

	align-items: center;

	padding: 20px 0;

	li {
		list-style-type: none;
	}

	.nav {
		display: flex;

		a {
			margin-right: 10px;

			color: #756F86;

			&:last-child {
				margin-right: 0;
			}
		}

		.activeLink {
			padding-bottom: 5px;

			border-bottom: 1px solid #756F86;

			font-weight: 700;
		}

		.users {
			margin-right: 10px;
		}

		.tasks {

		}
	}
}
