.wrapper {
	margin-bottom: 30px;

	.title {
		margin: 0;
		padding: 10px;

		color: white;
		border: 1px solid #756F86;

		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		background-color: #756F86;
	}

	.tableName {
		display: grid;

		color: #756F86;
		border: 1px solid #C7C5C5;
		grid-template-columns: repeat(2, 1fr);

		span {
			padding: 10px;

			border-right: 1px solid #C7C5C5;

			&:last-child {
				border-right: 0;
			}
		}
	}

	.notFound {
		margin: 15px 0 0 0;

		text-align: center;
	}

	.table {
		display: grid;
		align-items: center;

		border: 1px solid #C7C5C5;
		border-top: 0;
		grid-template-columns: repeat(2, 1fr);

		span {
			padding: 10px;

			border-right: 1px solid #C7C5C5;

			&:last-child {
				border-right: 0;
			}
		}

		.btn {
			margin-left: 10px;
		}
	}

	.btnBack {
		margin-top: 15px;
	}
}
