.wrapper {
  position: relative;
  -webkit-box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);
  box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);
  width: 500px;
  height: 150px;
  padding: 30px;
  border-radius: 10px;
  margin: calc(50vh - 100px) auto;
  display: grid;
  grid-template-columns: 1fr 120px;
  gap: 20px;
  grid-template-areas:
          "login login"
          "password password"
          ". btn";

  input {
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    outline: none;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    -webkit-box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.1);
    -moz-box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.1);
    box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.1);
    color: #756F86;

    &::placeholder {
      color: #e5e5e5;
    }
  }

  .login {
    grid-area: login;
    display: grid;
    grid-template-columns: 80px 1fr;
    align-items: center;
    position: relative;

    label {
      color: #756F86;
      font-weight: 700;
    }

    .errLogin {
      color: #da5d5d;
      position: absolute;
      top: -18px;
      left: 82px;
      font-size: 13px;
    }
  }

  .password {
    grid-area: password;
    display: grid;
    grid-template-columns: 80px 1fr;
    align-items: center;
    position: relative;

    label {
      color: #756F86;
      font-weight: 700;
    }


    .errPassword {
      color: #da5d5d;
      position: absolute;
      top: -18px;
      left: 82px;
      font-size: 13px;
    }
  }

  .errAuth {
    color: #da5d5d;
    position: absolute;
    bottom: 60px;
    left: 110px;
    font-size: 13px;
  }

  .btn {
    grid-area: btn;
    display: inline-block;
    box-sizing: border-box;
    height: 35px;
    width: 120px;
    border: 0;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    color: #c7c5c5;
    background: #e5e5e5;

    -webkit-box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.1);
    -moz-box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.1);
    box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.1);

    &Active {
      color: #e5e5e5;
      background: #0880AE;
      transition: all ease .2s;

      &:hover {
        background: #1a8cb9;
        color: white;
      }
    }
  }
}